<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.umich.mahira.fridgefriend">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <queries>
        <intent>
            <action android:name="com.android.camera.action.CROP" />

            <data android:mimeType="image/*" />
        </intent>
    </queries>

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FridgeFriend">
        <activity
            android:name=".RecipeDetailActivity"
            android:exported="true" />
        <activity
            android:name=".ReminderActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SpendingListAdapter"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".SpendingGraphActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DisplayScannedReceiptActivity"
            android:exported="true" />
        <activity
            android:name=".DisplayScannedItemActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".ReminderBroadcast" />
    </application>

</manifest>